[Unit]
Description=Backup
OnFailure=backup-notification@%n.service
OnSuccess=backup-notification@%n.service

[Service]
Type=oneshot
ExecStart=backup -c /etc/backup/backup.conf create

[Install]
WantedBy=timers.target
