[Unit]
Description=Backup
OnFailure=discord-notification@%n.service

[Service]
Type=oneshot
ExecStart=backup create -c /etc/backup/backup.conf

[Install]
WantedBy=timers.target